@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);


/* 스타일 초기화 */
html, body,
div, span,
dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6,
address, form, fieldset, legend, 
table, caption, col, colgroup, thead, tfoot, tbody, th, td {
	margin:0;
	padding:0;
	font-family:'Nanum Gothic','돋움','Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:12px;
	color:#333; !important;
}

p, input, select, textarea {
	font-family:'Nanum Gothic','돋움','Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:12px;
	color:#333; !important;
}

h1, h2, h3, h4, h5, h6{
	font-size:100%;
	font-weight:normal;
}

fieldset, img, abbr, acronym {
border: 0 none;
}

table {
	border-collapse: collapse;
	border-spacing:0;
	border:0 none;
}

caption, th, td {
	text-align:none;
	font-weight:normal;
}

address, caption, strong, em {
	font-weight:normal;
	font-style:normal;
}

/* 수평선*/
hr { display:none; }
caption{display:none;}
th, strong{font-weight:bold;}
ul{list-style:none;}
legend{display:none;}


a:link, a:visited, a:active{color:#333; text-decoration:none; cursor:pointer; !important; }
a:hover{color:#333; text-decoration:none; cursor:pointer; !important; }




/*
컨텐츠 사이즈 지정
100% 작업시 {width:100%;}만 입력 */

/*상태 모니터링*/
.sub0101 {width:990px; padding-left:50%; margin-left:-495px;} 
.sub0102 {width:990px; padding-left:50%; margin-left:-495px;}
.sub0103 {width:990px; padding-left:50%; margin-left:-495px;}
.sub0104 {width:990px; padding-left:50%; margin-left:-495px;}

/*서비스 관리*/
.sub0201 {width:990px; padding-left:50%; margin-left:-495px;}
.sub0202 {width:990px; padding-left:50%; margin-left:-495px;}
.sub0203 {width:990px; padding-left:50%; margin-left:-495px;}
.sub0204 {width:990px; padding-left:50%; margin-left:-495px;}

/*통계*/
.sub0301 {width:990px; padding-left:50%; margin-left:-495px;}
.sub0302 {width:990px; padding-left:50%; margin-left:-495px;}

/*이력*/
.sub0401 {width:990px; padding-left:50%; margin-left:-495px;}
.sub0402 {width:990px; padding-left:50%; margin-left:-495px;}
.sub0403 {width:990px; padding-left:50%; margin-left:-495px;}
.sub0404 {width:990px; padding-left:50%; margin-left:-495px;}
.sub0405 {width:990px; padding-left:50%; margin-left:-495px;}
.sub0406 {width:990px; padding-left:50%; margin-left:-495px;}

/*정보관리*/
.sub0501 {width:990px; padding-left:50%; margin-left:-495px;}
.sub0502 {width:990px; padding-left:50%; margin-left:-495px;}

/*로그인쪽*/
.sub0601 {width:990px; padding-left:50%; margin-left:-495px;}
.sub0602 {width:990px; padding-left:50%; margin-left:-495px;}

/*메인*/
.sub0000 {width:990px; padding-left:50%; margin-left:-495px;}
