<?xml version="1.0" encoding="UTF-8"?>
<config>
	<si>
		<!-- pineone -->
		<!-- 
		<ip>166.104.112.42</ip>
		<port>
			<normal>58080</normal>
			<auth>58081</auth>
		</port>
		<auth>no</auth>
		<resourceId>lwm2m-in</resourceId>
		<resourceName>lwm2m-cse</resourceName>
		<retryInterval>10</retryInterval>
		-->
		 
		<ip>10.10.0.23</ip>
		<port>
			<normal>8080</normal>
			<auth>8081</auth>
		</port>
		<auth>no</auth>
		<resourceId>herit-in</resourceId>
		<resourceName>herit-cse</resourceName>
		<retryInterval>10</retryInterval>				<!-- unit : seconds -->
	</si>

	<dm>
		<use>yes</use>									<!-- 'yes' or 'no' -->
		<web>
			<ip>10.10.0.23</ip>
			<port>8089</port>
		</web>
	</dm>
	
	<ipe>
		<use>no</use>									<!-- 'yes' or 'no' -->
		<ip>10.10.0.23</ip>
		<port>
			<normal>5683</normal>
			<secure>5684</secure>
			<web>8085</web>
		</port>
		<report>
			<interval>10</interval>						<!-- unit : seconds -->
		</report>
	</ipe>
	
	<log>
		<debug>no</debug>								<!-- 'yes' or 'no' -->
	</log>
	
</config>